{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block content %}
<div class="container">
    <h1>Products</h1>


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Products
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form action="/add_products" method="POST" class="container mb-5" style="width: 50%;">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Product Name</label>
                            <input type="text" name="productname" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">

                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Buying Price</label>
                            <input type="number" name="buyingprice" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputSellingPrice" class="form-label">Selling Price</label>
                            <input type="number" name="sellingprice" class="form-control"
                                id="exampleInputSellingPrice">
                        </div>
                        <button type="submit" class="btn btn-primary">Add Product</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div>
        <!-- <p>{{products}}</p>
         -->
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>Product_Id</th>
                    <th>Name</th>
                    <th>Buying Price</th>
                    <th>Selling Price</th>
                </tr>
            </thead>
            <tbody>
                {% for prod in products %}
                <tr>

                    <td>{{ prod[0] }}</td>
                    <td>{{ prod[1] }}</td>
                    <td>{{ prod[2] }}</td>
                    <td>{{ prod[3] }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}