{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block content %}
<div class="container">
    <h1>Products</h1>

    <div>
        <p>{{products}}</p>
        
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>Product_Id</th>
                    <th>Name</th>
                    <th>Buying Price</th>
                    <th>Selling Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Cocoa</td>
                    <td>400</td>
                    <td>600</td>

                </tr>
            </tbody>
        </table>
    </div>

</div>
{% endblock %}