{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block content %}
<div class="container">
    <h1>Products</h1>

    <div>
        <!-- <p>{{products}}</p>
         -->
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>Product_Id</th>
                    <th>Name</th>
                    <th>Buying Price</th>
                    <th>Selling Price</th>
                </tr>
            </thead>
            <tbody>
                {% for prod in products %}
                <tr>
                    
                    <td>{{ prod[0] }}</td>
                    <td>{{ prod[1] }}</td>
                    <td>{{ prod[2] }}</td>
                    <td>{{ prod[3] }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
                
