{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="container mt-5 w-50">
    
    <form action="/register" method="post">
            <div class="mb-3 ">
            <label class="form-label" for="full_name">Full name</label>
            <input class="form-control" class="form-label" type="text" name="full_name">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>  
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


{% endblock %}