{% extends "base.html" %}

{% block title %}Sales{% endblock %}

{% block content %}
<div class="container">
    <h1>Sales</h1>


    <div>
        
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Product_Id</th>
                    <th>Quantity</th>
                    <th>Created at</th>

                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                <tr>
                    
                    <td>{{ sale[0] }}</td>
                    <td>{{ sale[1] }}</td>
                    <td>{{ sale[2] }}</td>
                    <td>{{ sale[3] }}</td>
                   
                </tr>
                 {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}