{% extends "base.html" %}

{% block title %}Stocks{% endblock %}

{% block content %}
<div class="container">
    <h1>Stocks</h1>


    <div>
        
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>stock_Id</th>
                    <th>Product_Id</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock[0] }}</td>
                    <td>{{ stock[1] }}</td>
                    <td>{{ stock[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}