{% extends "base.html" %}

{% block title %}Stocks{% endblock %}

{% block content %}
<div class="container">
    <h1>Stocks</h1>


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        View Stock
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form>
                        <div>
                            <select class="form-select" aria-label="Default select example" name="pid">
                                <option selected>Select Product</option>
                                {% for prod in products %}
                                <option value="{{ prod[0] }}">{{ prod[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Stock Quantity</label>
                            <input type="number" name="stockquantity" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Display Stock</button>
                        </div>

                    </form>
                </div>
                
            </div>
        </div>
    </div>


    <div>

        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>stock_Id</th>
                    <th>Product_Id</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock[0] }}</td>
                    <td>{{ stock[1] }}</td>
                    <td>{{ stock[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}